.modal {
  background: #3A4793;
  position: absolute;
  color: #fff;
  z-index: 100;
  top: 0;
  bottom: 0;
  width: 100%;
  padding: 100px 0; }

.modal-open {
  overflow: hidden; }

.menu-toggle {
  padding: 1em;
  position: absolute;
  right: 25px;
  top: 25px;
  cursor: pointer; }

.menu-toggle .hamburger, .hamburger::after {
  content: '';
  display: block;
  border-radius: 3px;
  background: #EBEBD3;
  height: 3px;
  width: 1.75em; }

.menu-toggle .hamburger {
  transform: rotate(45deg); }

.menu-toggle .hamburger::after {
  transform: rotate(-90deg); }

.modal form {
  display: block;
  max-width: 500px;
  margin: 0 auto;
  transition: all 10s ease-in-out; }

.modal form .form-group {
  margin-bottom: 20px; }

.modal form label {
  display: block;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 300; }

.modal input[type="text"], textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 30px;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7); }

.modal input:focus, textarea:focus {
  outline: none; }

.modal button {
  background: #25B3EC;
  padding: 15px 20px;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  width: 100%; }

.display-block {
  display: block; }

.display-none {
  display: none; }
