.menu-container {
  display: -ms-grid;
  display: grid;
  z-index: 101;
  background: #ccc;
  height: 100vh;
  -ms-grid-columns: 275px 3fr 150px;
      grid-template-columns: 275px 3fr 150px; }
  .menu-container .fas {
    font-size: 40px;
    cursor: pointer; }
  .menu-container .foodMenu-title-section {
    position: relative;
    color: #111;
    background: purple; }
  .menu-container .foodMenu {
    color: #111;
    background: orange; }
  .menu-container .closeNext {
    position: relative; }
  .menu-container .menu-toggle {
    padding: 1em;
    position: absolute;
    right: 25px;
    top: 25px;
    cursor: pointer; }
  .menu-container .menu-toggle .hamburger,
  .menu-container .hamburger::after {
    content: "";
    display: block;
    border-radius: 3px;
    background: #111;
    height: 3px;
    width: 1.75em; }
  .menu-container .menu-toggle .hamburger {
    transform: rotate(45deg); }
  .menu-container .menu-toggle .hamburger::after {
    transform: rotate(-90deg); }
  .menu-container #circle {
    margin-top: 60px;
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
    background: transparent;
    border: 2px #202020 solid;
    border-radius: 50%; }
    .menu-container #circle .fa-utensils {
      position: absolute;
      right: 32px;
      top: 28px; }
    .menu-container #circle .fa-beer {
      position: absolute;
      right: 28px; }
