header {
  position: absolute;
  width: 100%;
  color: #fff;
  padding: 25px;
  z-index: 5;
}

header .Logo {
  display: inline-block;
}
header .main-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #333;
  text-align: center;
  transform: translateX(-100%);
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.9s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
}
header #menuToggle:checked ~ .main-nav {
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.9s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
}
header .main-nav ul {
  margin: 0;
  padding: 0;
}
header .main-nav li {
  color: yellow;
  display: block;
}

header ul {
  display: inline-block;
  float: right;
  text-align: right;
}

header ul li {
  display: inline-block;
  padding: 0 10px;
}
