// Real estate colours
$darkPurple2: #0C002B;
$grey: #FAF7F5;
$offwhite: #FFFEFF;
$pink: #FF718E;
$darkgrey: #ADA8AA;
$lightGrey: #D1CBCD;

// Projects colour collection
$lightPurple: #302D43;
$darkPurple: #282639;
$neonGreen: #92CF48;
$lightGreyBG: #F4F6F9;
$darkGreyBG: #EAEDF3;
$darkGreyFont: #6C7882;
$lightGreyFont:#BBC1CD;
$lightGreyFont2: #A5ADBD;
$naranga: #F48320;
$purple: #744BCE;
$light-text: #a5aebc;
$that-red: #d13328;
$verde: #7dcf85;

/* Restaurant Project */
$textFont: 'Open Sans', sans-serif;
$displayFont: 'Rozha One', sans-serif;
$titleColor: #AAAAAA;
$paragraphColor: #ADADAD;
$greyBG: #F7F7F7;
$footerBG: #131A22;
$black: #202020;
$red: #911A20;
$green: #4D6010;

//grid system
$grid-columns: 12;
$grid-max-width: 1200px; //breakpoint-small
$breakpoint-small: 'only screen and (min-width: 0px)';
$breakpoint-medium: 'only screen and (min-width: 768px)';
$breakpoint-large: 'only screen and (min-width: 1008px)';
$breakpoint-xl: 'only screen and (min-width: 1300px)';
